---
layout: default
---
<div id="print_resume" class="main-content">
    <article class="module color-3">
        {% assign sec = site.data.resume.header %}
        <h1 id="{{ sec.id }}" class="name">{{ sec.name }}</h2>
        <div class="block">
            <div class="main-row">
                <div class="org">
                    <h3>Email: <a class="email" href="{{ sec.mailto }}">{{ sec.email }}</a></h3>
                </div>
                <div class="when">
                    <h3>{{ sec.phone }}</h3>
                </div>
            </div>
        </div>

        {% assign sec = site.data.resume.work %}
        <h2 id="{{ sec.id }}">{{ sec.display }}</h2>
        <hr />
        {% for item in sec.items -%}
        <div class="block">
            <div class="main-row">
                <div class="org">
                    <h3>{{ item.org }}</h3>
                </div>
                <div class="when">
                    <h3>{{ item.when }}</h3>
                </div>
            </div>
            <div class="sub-row">
                <div class="role">
                    <h4>{{ item.role }}</h4>
                </div>
                <div class="location">
                    <h4>{{ item.location }}</h4>
                </div>
            </div>
            <ul>
                {% for duty in item.duties %}
                <li>{{ duty }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

        {% assign sec = site.data.resume.patents %}
        <h2 id="{{ sec.id }}">{{ sec.display }}</h2>
        <hr />
        {% for item in sec.items -%}
        <div class="block">
            <div class="main-row">
                <div class="org">
                    <h3>{{ item.name }}</h3>
                </div>
                <div class="when">
                    <h3>{{ item.when }}</h3>
                </div>
            </div>
            <div class="sub-row">
                <div class="role">
                    <h4>{{ item.number }}</h4>
                </div>
            </div>
            <ul>
                {{ item.abstract }}
            </ul>
        </div>
        {% endfor %}

        {% assign sec = site.data.resume.education %}
        <h2 id="{{ sec.id }}">{{ sec.display }}</h2>
        <hr />
        {% for item in sec.items %}
        <div class="block">
            <div class="main-row">
                <div class="org">
                    <h3>{{ item.org }}</h3>
                </div>
                <div class="when">
                    <h3>{{ item.when }}</h3>
                </div>
            </div>
            <div class="sub-row">
                <div class="role">
                    <h4>{{ item.role }}</h4>
                </div>
                <div class="location">
                    <h4>{{ item.location }}</h4>
                </div>
            </div>
            <ul>
                {% for duty in item.duties %}
                <li>{{ duty }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

        <div class="keywords">
            {% assign sec = site.data.resume.skills %}
            <h2 id="{{ sec.id }}">{{ sec.display }}</h2>
            <hr />
            <div class="block">
                <div class="main-row">
                    <div class="org">
                    </div>
                </div>
                <ul>
                    {% for item in sec.items %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>

            {% assign sec = site.data.resume.techs %}
            <h2 id="{{ sec.id }}">{{ sec.display }}</h2>
            <hr />
            <div class="block">
                <div class="main-row">
                    <div class="org">
                    </div>
                </div>
                <ul>
                    {% for item in sec.items %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </article>
</div>
